

body {
    text-align: center;
}

span {
    display: inline-block;
}

#mini-layout div {
    width: 200px;
}

#mini-layout img {
    width: 100%;
}

#icons span {
    padding: 50px;
}

ul {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

li {
    padding: 25px;
    margin: 10px;
    border: 1px solid black;
    list-style-type: none;
    border-radius: 10%;
}

#li-1 {
    margin-left: -15px;
}